/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
h2

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
#buttonRow{
  margin-top:100px;
}
#topContainer{
  margin-top:150px;
}
#giveButton{
  background-color:#0266C8;
  position: fixed;
  margin-left: 1200px;
  top:180px;
  text-align:right;
}
#categoriesBox{
  box-shadow: 1px 2px 2px 1px gray;
  height:500px;
  width:200px;
  background-color:white;
  clear:both;
  position:fixed;
  left:40px;
  top: 200px;
  padding-top: 30px;
}
a.homeButton{
  padding: 60px 40px 40px 40px;
  text-align: center;
  margin:50px;
  border-radius: 10px;
  border:solid;
  border-color:white;
}
.buttonHolder{
  text-align:right;
  float:right;
}
.homeButton:hover{
  background-color:#0266C8;
  opacity: 0.4;
}
.giveButttonGetPage{
  display:block;
  float:right;

}
.buttonText{
  font-family:Roboto;
  font-size:40px;
  margin:auto;
  text-transform:uppercase;
  display:inline-block;
  position:static;
  color:white;
  width:300px;
}
.row{
  margin-top:25px;
  padding-bottom:30px;
}
.container{
  margin-top:30px;
  margin-bottom:30px;
}



.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
  }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
#index-banner {
  position: relative;
  overflow: hidden;
  height: 700px;
}
#videoHolder {
  background-color:rgba(0,0,0,.65);
  height:100%;
  left:0;
  position:relative;
  top:0;
  transition:background-color 300ms ease;
  width:100%;
}
#video {
  backface-visibility:hidden;
  background: no-repeat scroll 0 0 #000;
  background-size:cover;
  bottom:0;
  height:auto;
  min-height:100%;
  min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  width:auto;
  z-index:-1;
  transform:(0, + -(scrolled * 0.50) + "px,0)";
}


footer.page-footer {
  margin: 0;
}